@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1f233f;

    --yellow: #ffd500;

    --purple: #8c55fe;
    --purple-dark: #6e3dc7;
    --purple-light: #a97fff;

    --white: #ffffff;

    --gray: #bdbdbd;

    --black-opacity: #00000026;
    --black-opacity-light: #0000001a;
    --black-opacity-dark: #0000004d;
    /*  --black-opacity: rgb(0, 0, 0, 15%);
    --black-opacity-light: rgb(0, 0, 0, 10%);
    --black-opacity-dark: rgb(0, 0, 0, 30%); */

    --red: #ff0000;
    --red-light: #ff4d4d;
    --red-dark: #cc0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    background: var(--background);
    font-family: Inter, sans-serif;
}

a {
    color: var(--purple);
    transition: 0.3s;

    &:hover {
        color: var(--purple-dark);
    }
}
