@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1f233f;

    --yellow: #ffd500;
    --yellow-dark: #ccaa00;
    --yellow-light: #ffe066;

    --purple: #8c55fe;
    --purple-dark: #6e3dc7;
    --purple-light: #a97fff;

    --white: #ffffff;

    --gray: #bdbdbd;
    --gray-dark: #7a7a7a;
    --gray-light: #e0e0e0;
    --gray-superdark: #242a4d;

    --black-opacity: #00000026;
    --black-opacity-light: #0000001a;
    --black-opacity-dark: #0000004d;

    --red: #ff0000;
    --red-light: #ff4d4d;
    --red-dark: #cc0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    color: var(--white);
    background: var(--background);
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

a {
    color: var(--purple);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: var(--purple-dark);
    }
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

img {
    width: 100%;
    height: auto;
}
