@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(70, 70, 70);
    background: var(--background);
    font-family: Inter, sans-serif;
}

a {
    color: rgb(179, 159, 255);
    transition: 0.3s;

    &:hover {
        color: #b39fff;
    }
}